.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer .logo {
    display: inline-block;
    margin-bottom: 16px;
    color: #f4f4fd;
}

.footer .logo span {
    color: #4d5ae5;
}
.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-social {
    margin-left: 120px;
}

.footer-social-text {
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;}

.footer .container {
    display: flex;
align-items: flex-start;
}
.footer .social-link:hover,
.footer .social-link:focus {
    background-color: #31d0aa;
}
.footer .social-list {
    gap: 16px;
}